.card, .selected {
    background-color: var(--nomineebackground);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 10px;
    margin-left: 10px;
    margin-top: 10px;
    width: 200px;
}

.card:hover {
    background-color: var(--nomineebghover);
}

.card > span, .selected > span {
    text-align: center;
    font-size: 14px;
}

.card img, .selected > img {
    width: 50%;
    height: auto;
    margin: 8px 0px;
    flex-grow:1;
}

.selected {
    background-color: var(--selectednomineebg) !important;
}