@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background: #0D2436;
  --normalfont: #FFFFFF ;
  --hoverfont: #CCCCCC;
  --nomineebackground: #009B86;
  --selectednomineebg: #17554d;
  --nomineebghover: #34AC9C;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  color: var(--normalfont)
}

*:hover {
  color: var(--hoverfont)
}

button {
  background-color: var(--nomineebackground);
  border: 1px solid #ccc;
  padding: 5px 5px;
}

button:hover {
  background-color: var(--nomineebghover);
}

